.nav-item{
    font-size: 25px;
    font-style: oblique;
    font-weight: 900;
}


.logo{
    width: 800px;
    height: 600px;
    align-self: auto;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title{
    font-family:monospace;
    font-size: 80pt;
    padding-left: 50px;
    text-align: end;


}

hr{
  border: 1px solid;
  color: rgb(0, 0, 0);
  opacity: 100%;
}

.intro-text{
  padding-right: 50px;
  padding-left: 100px;
  font-size: 15px;
}


.click-pic{
    padding-left: 100px;
    animation: fadeIn 2s ease-in-out infinite;
    
}

.logo{
  animation: fadeIn 2s ease-in;

}

.footer{
  background-color: rgb(0, 0, 0);
 
}

.social-link a {
  margin: 10px 10px;
  color: rgba(255, 255, 255, 0.651);
  border: 0;
}


.fb :hover,
.fb :focus {
  color: #3a6cd8;
 }
 
.instagram :hover,
.instagram :focus {
  color: #B400A6;
 }

.social-link i {
  font-size: 25px;
  vertical-align: middle;
}

 @keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-moz-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-webkit-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-o-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
   }
 }

 @-ms-keyframes fadeIn {
   0% {
     opacity:0;
   }
   100% {
     opacity:1;
 }
}